Cover_letter.docx
Cover_letter.pdf
declaration-of-competing-interests.docx
declaration_of_competing_interests.pdf
ecological-informatics.csl
MinBAR_MS_Suppl_Mat2.pdf
MinBAR_MS_vShort2.pdf
ECOMOD-S-20-00690.pdf
.Rhistory
ECOMOD-20-548_R1.pdf
Response_letter.pdf
Review_Comments_Anna.docx
1-s2.0-S0304380020304191-main.pdf
